@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8dff69;
}

@layer {
  html {
    font-family: var(--font-dislay);
    scrol-behavior: smooth;
  }

  body {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8dff69, #6fe047);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a8ff8d, #5bc92e);
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #6fe047, #0a0a0a;
}

/* Hide Scrollbar for Carousel */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

